input {
	font-size: 30px;
	margin-left: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
	display: inline;
}

.buttonOpenTable {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
}

.tableSection {
	display: inline;
}