.order {
	width: 95%;
	height: 500px;
	background-color: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white;
	text-align: center;
	/*margin-top: 60px;
	margin-bottom: 30px;*/
	margin: 60px 5px 30px 15px;
}

.removeButton {
	display: block;
	width: 1px;
	height: 1px;
	text-align: center;
	margin-block: 0;
}

.orderButtons {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.printCheck {
	display: inline;
	padding: 30px;
	margin: 0 20px 15px 20px;
	/*width: 300px;*/
	font-family: 'Cormorant Garamond', serif;
	font-size: 22px;
	font-weight: bolder;
	color: dimgrey;
	box-shadow:10px 10px grey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.closeCheck {
	display: inline;
	padding: 30px;
	margin: 0 20px 15px 20px;
	/*width: 300px;*/
	font-family: 'Cormorant Garamond', serif;
	font-size: 22px;
	font-weight: bolder;
	color: dimgrey;
	box-shadow:10px 10px grey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



